*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slider{
  width: 60vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.prev,
.next{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev i,
.next i {
  font-size: 40px;
}
i:hover{
  cursor: pointer;
}

.slide{
  width: 80%;
  height: 100%;
}
.slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.circle{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  border-radius: 50px;
}
.circle > i{
  margin: 0 5px;
}

.colored{
  color: blue;
}

.prova-enter, .prova-leave.to{
  opacity: 0;
}
.prova-enter-active,
.prova-leave-active{
  transition: opacity 2s;
}
.prova-enter-to, .prova-leave{
  opacity: 1;
}
